.container {
  position: relative;
}

.logo {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

input {
  width: 60%;
  padding: 5px;
}

.word-list {
  margin-top: 30px;
}

.btnAdd {
  margin-left: 7px;
  padding: 5px;
  width: 28%;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

li {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 8px;
}

.li-text {
  display: inline;
  margin-right: 3px;
}

.resetBtn {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 5px;
  border: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.delBtn {
  width: 20%;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  float: right;
}

.delBtn:hover {
  cursor: pointer;
}

.shake {
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

.rainbow {
    -webkit-animation: rainbow 5s infinite;
    -moz-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    -o-animation: rainbow 5s infinite;
    animation: rainbow 1s infinite;
}

@keyframes shake {
  10%, 90%      { transform: translate3d(-1px, 0, 0); }
  20%, 80%      { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60%      { transform: translate3d(4px, 0, 0); } 
}

@-webkit-keyframes shake {
  10%, 90%      { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0); }
  20%, 80%      { -webkit-transform: translate3d(2px, 0, 0);  transform: translate3d(-2px, 0, 0); }
  30%, 50%, 70% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0); }
  40%, 60%      { -webkit-transform: translate3d(4px, 0, 0);  transform: translate3d(4px, 0, 0); } 
}

@-moz-keyframes shake {
  10%, 90%      { -moz-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0); }
  20%, 80%      { -moz-transform: translate3d(2px, 0, 0);  transform: translate3d(-2px, 0, 0); }
  30%, 50%, 70% { -moz-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0); }
  40%, 60%      { -moz-transform: translate3d(4px, 0, 0);  transform: translate3d(4px, 0, 0); } 
}

@-o-keyframes shake {
  10%, 90%      { -o-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0); }
  20%, 80%      { -o-transform: translate3d(2px, 0, 0);  transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { -o-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0); }
  40%, 60%      { -o-transform: translate3d(4px, 0, 0);  transform: translate3d(4px, 0, 0); } 
}

@keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
}

/* Firefox */
@-moz-keyframes rainbow {
  0%{color: orange;}	
  10%{color: purple;}	
    20%{color: red;}
  30%{color: CadetBlue;}
  50%{color: coral;}
    60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
    100%{color: orange;}
}